/*
  Chevron Down icon used within the DropdownCheckbox control
*/

<template>
<span class="float-right">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-4 w-4 float-right"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 9l-7 7-7-7"
    />
  </svg>
</span>
</template>

<script>
export default {
  name: "IconDropDown",
  props: {},
  computed: {},
};
</script>
