<template>
  <question-base :item="item">
    <template v-slot:content-bottom>
      <div>
        <textarea
          v-model="item.Answer"
          cols="30"
          rows="5"
          class="ernav-control"
          @change="$emit('change', item)"
          :disabled="readonly"
        ></textarea>
      </div>
    </template>
  </question-base>
</template>

<script>
import QuestionBase from "./QuestionBase.vue";

export default {
  components: { QuestionBase },
  name: "QuestionFreetext",
  props: {
    item: {
      type: Object,
      required: true,
    },
    readonly: {
         type: Boolean,
    },
  },
  computed: {},
  //watch: {
  //    "item.Answer": function (value) {
  //        this.item.Answer = value;
  //        this.$emit("autosave", this.item);
  //    }
  //},  
};
</script>