<template>
  <question-base :item="item">
    <template v-slot:content-bottom>
      <div>
        <select
          v-model="item.Answer"
          class="ernav-control"
          @change="$emit('change', item)"
          :disabled="readonly"
        >
          <option value="0">&lt;Select a Value&gt;</option>
          <option
            v-for="option in item.Options"
            :key="option.ID"
            :value="option.ID"
            :disabled="isdisabled(option)"
            :class="{'ernav-dropdown-locked-option':isdisabled(option)}"
          >
            {{ option.Text }}
          </option>
        </select>
      </div>
    </template>
  </question-base>
</template>

<script>
import QuestionBase from "./QuestionBase.vue";
export default {
  components: { QuestionBase },
  name: "QuestionDropDown",
  props: {
    item: {
      type: Object,
      required: true,
    },
    readonly: {
      type: Boolean,
    },
  },
  created(){
    if (!this.item.Answer)
    this.item.Answer = "0";
  },
  methods: {
      isdisabled(option) {
         return (option.NotForTrial);
      },
   },
};
</script>
