<template>
   <div :id="'Question_' + item.ID" class="mt-6">
      <!--<small class="text-gray-400">{{ item.ID }}: {{item.Answer}}</small>-->
      <div class="font-medium mb-2" v-html="item.Header"></div>
      <div class="_grid grid-cols-12 items-center">
         <div class="col-span-1">
            <div class="_grid grid-cols-2">
               <section-icon :item="item"></section-icon>
               <span>{{ item.Sequence }})</span>
            </div>
         </div>
         <div class="col-span-10">
            <p v-html="getText"></p>
         </div>
         <div class="col-span-1">
            <slot name="content-right"> </slot>
         </div>
         <div class="col-start-2 col-span-10 row-start-2 pt-3">
            <slot name="content-bottom" v-if="canShow"></slot>
         </div>
      </div>
   </div>
</template>

<script>
import SectionIcon from "./SectionIcon.vue";
export default {
   components: { SectionIcon },
   name: "QuestionBase",
   props: {
      item: {
         type: Object,
         required: true,
      },
      readonly: {
         type: Boolean
      },
   },
   computed: {     
      canShow() {
          if (this.item.Type === 5 && this.item.NotForTrial) return false;
            return true;
      },
      getText(){
         if (!this.canShow)
            return "Content not available during trial, tick the tick box to proceed";
         return this.item.Text;
      },
   },
};
</script>
