<template>
  <question-base :item="item">
    <template v-slot:content-right>
      <div>
        <input type="checkbox" v-model="checked" class="float-right" @change="$emit('change', item)" :disabled="readonly" />
      </div>
    </template>
  </question-base>
</template>

<script>
import QuestionBase from "./QuestionBase.vue";

export default {
  components: { QuestionBase },
  name: "QuestionTickbox",
  props: {
    item: {
      type: Object,
      required: true,
    },
    readonly: {
         type: Boolean,
    },
  },
  computed: {
    checked: {
      get() {
        return this.item.Answer == 3;
      },
      set(v) {
        if (v) this.item.Answer = 3;
        else this.item.Answer = null;
      },
    },
  },
};
</script>