<template>
  <question-base :item="item">
    <template v-slot:content-right>
      <div class="float-right">
        <input type="radio" v-model="item.Answer" :value="1" @change="$emit('change', item)" :disabled="readonly"/> Yes
        <input type="radio" v-model="item.Answer" :value="2" @change="$emit('change', item)" :disabled="readonly"/> No
      </div>
    </template>
    <template v-slot:content-bottom>
      <div>
        <section-participant :item="item" :readonly="readonly"></section-participant>
        <section-forms :item="item" :readonly="readonly"></section-forms>
        <section-textbox :item="item" :readonly="readonly"></section-textbox>
        <section-attachment :item="item" @deleteattachment="deleteattachment" @upload="upload" :readonly="readonly"></section-attachment>
      </div>
    </template>
  </question-base>
</template>

<script>
import SectionForms from "./SectionForms.vue";
import SectionTextbox from "./SectionTextbox.vue";
import QuestionBase from "./QuestionBase.vue";
import SectionAttachment from './SectionAttachment.vue';
import SectionParticipant from './SectionParticipant.vue';

export default {
  components: { SectionForms, SectionTextbox, QuestionBase, SectionAttachment, SectionParticipant },
  name: "QuestionYesNo",
  props: {
    item: {
      type: Object,
      required: true,
    },
    readonly: {
         type: Boolean,
    },
  },
  computed: {
  },
  methods:{
    upload(i, f){
      this.$emit("upload", i, f);
    },
    deleteattachment(attachment) {
        this.$emit("deleteattachment", attachment);
    },
  },
};
</script>