<template>
    <question-base :item="item">
      <template v-slot:content-bottom>
        <div>
          <section-attachment :item="item" @deleteattachment="deleteattachment" @upload="upload" :readonly="readonly"></section-attachment>
        </div>
      </template>
    </question-base>
  </template>
  
  <script>
  import QuestionBase from "./QuestionBase.vue";
  import SectionAttachment from './SectionAttachment.vue';
  
  export default {
    components: { QuestionBase, SectionAttachment },
    name: "QuestionUpload",
    props: {
      item: {
        type: Object,
        required: true,
      },
      readonly: {
           type: Boolean,
      },
    },
    computed: {
    },
    methods:{
      upload(i, f){
        this.$emit("upload", i, f);
        this.$emit("change", i);
      },
      deleteattachment(attachment) {
          this.$emit("deleteattachment", attachment);
      },
    },
  };
  </script>