<template>
  <question-base :item="item">
    <template v-slot:content-right>
      <div class="float-right">
        <span v-if="readonly">{{formattedDate}}</span>
        <datepicker 
        v-model="item.Answer"
        @selected="$emit('change', item)"
        class="ernav-datepicker" 
        input-class="ernav-datepicker-input" 
        calendar-class="ernav-datepicker-calendar"
        calendar-button="true"
        calendar-button-icon="fa fa-calendar"
        v-else>
        </datepicker>
        
      </div>
    </template>
  </question-base>
</template>

<style>
  @import 'https://use.fontawesome.com/releases/v5.13.0/css/all.css';
</style>

<script>
  import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/fontawesome.min.js';
</script>


<script>
import QuestionBase from "./QuestionBase.vue";
import Datepicker from 'vuejs-datepicker';
import moment from 'moment/moment';

export default {
  components: { QuestionBase, Datepicker, moment  },
  name: "QuestionDate",
  props: {
    item: {
      type: Object,
      required: true,
    },
    readonly: {
         type: Boolean,
    },
  },
  computed:{
    formattedDate(){
      if(this.item.Answer == null || this.item.Answer == "")
        return "";
      return moment(String(this.item.Answer)).format('DD MMM YYYY');
    },
  }
};
</script>