<template>
   <question-base :item="item">
      <template v-slot:content-bottom>
         <div>
            <div>
               <button class="ernav-control" @click="toggle" type="button" :disabled="readonly" >
                  <div class="ernav-dropdown-label" :disabled="readonly">{{ selectedtext }}</div>
                  <icon-drop-down :disabled="readonly"></icon-drop-down>
               </button>
               <div class="dropdown">
                  <div class="dropdown-content" v-if="visible">
                     <div class="overflow-y-auto max-h-96">
                        <div
                           v-for="option in item.Options"
                           :key="option.ID"
                           class="m-1"
                           :class="{'ernav-dropdown-locked-option':isdisabled(option)}"
                        >
                           <input
                              type="checkbox"
                              :value="option.ID"
                              :id="option.ID"
                              :disabled="isdisabled(option)"            
                              v-model="checked"
                           />
                           <label :for="option.ID" class="ml-2">{{
                              option.Text
                           }}</label>
                        </div>
                     </div>
                     <div class="flex justify-center">
                        <button
                           @click="close"
                           class="ernav-button-dropdownaccept"
                           type="button"
                        >
                         Accept
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </template>
   </question-base>
</template>

<script>
import IconDropDown from "./IconDropDown.vue";
import QuestionBase from "./QuestionBase.vue";

export default {
   components: { QuestionBase, IconDropDown},
   name: "QuestionDropdownCheck",
   props: {
      item: {
         type: Object,
         required: true,
      },
      readonly: {
         type: Boolean,
      },
   },
   data() {
      return {
         visible: false,
      };
   },
   computed: {
      checked: {
         get() {
            if (!this.item.Answer) return [];
            return this.item.Answer.split(",");
         },
         set(val) {
            console.log("checked", val);
            this.item.Answer = val.join();
         },
      },
      selectedtext() {
         var _selected_text = "";
         if (this.checked.length == 0) _selected_text = "";
         else if(this.checked.length === this.item.Options.length) _selected_text = "All items checked";
         else if(this.checked.length > 2) _selected_text = `${this.checked.length} selected`;
         else{
            var count = 0;
            for(var c = 0; c < this.checked.length; c++){
               for(var i = 0; i < this.item.Options.length; i++){
                  if(this.checked[c] == this.item.Options[i].ID){
                     _selected_text += ((count > 0) ? ", " : "") + this.item.Options[i].Text;
                     count++;
                  }     
               }
            }
         }
         return _selected_text;
      }
   },

   methods: {
      toggle() {
         this.visible = !this.visible;
      },
      close() {
         this.toggle();
         this.$emit("change", this.item);
      },
      isdisabled(option) {
         return (option.NotForTrial);
      },
   },
   //watch: {
   //      "item.Answer": function (value) {
   //         this.item.Answer = value;
   //         this.$emit("autosave", this.item);
   //      }
   //},
};
</script>

<style>
.dropdown {
   position: relative;
}

.dropdown-content {
   width: max-content;
   @apply absolute border p-2 bg-white shadow-lg w-full;
}

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  /* display: none; */
/* position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */
</style>
