<template>
   <div v-if="participants">
      <h5 class="font-semibold">Participants</h5>
      <div
         v-for="part in participants"
         :key="part.Name"
         class="_grid grid-cols-3 ernav-participant-row"
      >
         <div class="col-span-1">
            <span class="ernav-participant-label">
               {{ part.TypeName }}
            </span>
         </div>
         <div class="col-span-1">
            <button type="button" class="ernav-button-participant" @click="search(part)" :disabled="readonly">
               Search for Employee
            </button>
         </div>
         <div>
            <span class="ernav-participant-label">
               {{ part.Name }}
            </span>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   name: "SectionParticipant",
   props: {
      item: {
         type: Object,
         required: true,
      },
      readonly: {
         type: Boolean,
      },
   },
   computed: {
      participants() {
         if (!this.item.Participants) return null;
         if (this.item.Answer == 1 && this.item.Participants.Yes)
            return this.item.Participants.Yes;
         if (this.item.Answer == 2 && this.item.Participants.No)
            return this.item.Participants.No;
         return null;
      },
      yesno() {
         if (this.item.Answer == 1) return true;
         if (this.item.Answer == 2) return false;
         return null;
      },
   },

   methods: {
      search(part) {
         const options = {
            caller: this,
            title: "Search Employee",
            src: part.URL,
            width: 650,
            height: 420,
            iframeMinWidth: "650px",
            iframeHeight: "420px",
            iframePadding: "0",
         };
         window.parent.modal.openModal(options);
      },
   },
};
</script>
