<template>
   <div v-if="forms">
      <h5 class="font-semibold">Forms</h5>
      <div v-for="form in forms" :key="form.Name" class="_grid grid-cols-3">
         <div class="col-span-1">{{ form.Name }}</div>
         <div class="col-span-2">
            <label :item="form" v-if="canShow" @click="generateDocument(form)"  class="ernav-button-link" :disabled="readonly">
               Generate
            </label>
            <label v-if="canShow === false" @click="showTrialMessage"  class="ernav-button-link" :disabled="readonly">
               Generate
            </label>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   name: "SectionForms",
   props: {
      item: {
         type: Object,
         required: true,
      },
      readonly: {
         type: Boolean,
      },
   },
   computed: {
      forms() {
         if (!this.item.Forms) return null;
         if (this.item.Answer == 1 && this.item.Forms.Yes)
            return this.item.Forms.Yes;
         if (this.item.Answer == 2 && this.item.Forms.No)
            return this.item.Forms.No;
         return null;
      },      
      canShow() {
          if (this.item.NotForTrial == 0) return true; 
            return false;
       },
   },
   methods: {
      showTrialMessage() {
         alert("Not available during the trial")
      },
      generateDocument(form){
         window.open(form.URL);
      }, 
   }
};
</script>
