<template>
   <div v-if="attachment" >
      <div class="_grid grid-cols-10 gap-1 ernav-attachment-section" v-for="(attachment, index) in this.item.RequireAttachment.Attachments" :key="attachment.AttachmentID">
         <div class="col-span-3" v-if="index === 0">Attachment Document</div>
         <div class="col-span-3" v-if="index > 0"></div>
         <div class="col-span-7" >
            <span>{{ attachment.Description }}</span>           
            <a
               class="ernav-button-link"
               v-if="readonly"
               >
               View
            </a>
            <a
               :href="attachment.URL"
               :target="attachment.AttachmentFile"
               class="ernav-button-link"
               v-else
               >
               View
            </a>

            <button 
               type="button" 
               class="ernav-button-delete" 
               :disabled="readonly"
               @click="deleteattachment(attachment)" >
               Delete
            </button>

         </div>
      </div>
      <div class="_grid grid-cols-10 gap-1">
         <div class="col-span-3">Attachment Description</div>
         <div class="col-span-7">
            <input type="text" class="ernav-control" v-model="name" :disabled="readonly" />
         </div>
      </div>
      <div class="_grid grid-cols-10 mt-2 gap-1">
         <div class="col-span-3">{{ item.RequireAttachment.Prompt }}</div>
         <div class="col-span-6">
            <div class="file-input">
               <input
                  type="file"
                  :id="fileid"
                  class="file"
                  @change="change"
                  hidden
                  :disabled="readonly"
               />
               <table class="w-full">
                  <tr>
                     <td class="w-full">
                        <input
                           type="text"
                           readonly
                           :value="filename"
                           class="ernav-file-label w-full"
                           :disabled="readonly"
                        />
                     </td>
                     <td class="text-right w-auto">
                        <label :for="fileid" :disabled="readonly" class="ernav-button-fileselect">
                           Select
                        </label>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="col-span-1">
            <button
               class="ernav-button-upload"
               type="button"
               @click="upload"
               :disabled="disabled"
            >
               Upload
            </button>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   name: "SectionAttachment",
   props: {
      item: {
         type: Object,
         required: true,
      },
      readonly: {
         type: Boolean,
      },
   },
   data() {
      return {
         file: null,
         name: null,
      };
   },
   computed: {
      hasAttachments(){
         return (this.item.RequireAttachment.Attachments.length > 0);
      },
      attachment() {
         if (this.item.Answer == 1) return this.item.RequireAttachment.Yes;
         if (this.item.Answer == 2) return this.item.RequireAttachment.No;
         if (this.item.Type == 7) return true;
         return false;
      },
      disabled() {
         if (!this.file || !this.name || this.readonly)  return true;
         return this.file.length === 0;
      },
      filename() {
         if (!this.file || this.file.length == 0) return "";
         return `$${this.file[0].name} (${(this.file[0].size / 1000).toFixed(2)} KB)`;
      },
      href() {
         if (!this.item.RequireAttachment.Filename) return "";
         return `../Proc/AttachmentsView.aspx?x=1&sDocumentName=${this.item.RequireAttachment.Filename}`;
      },
      fileid(){
         return "file_" + this.item.ID;    
      },
   },

   methods: {
      change(e) {
         this.file = e.target.files || e.dataTransfer.files;
         console.log(this.file);
      },
      upload() {
         this.$emit("upload", this.item, { name: this.name, files: this.file });
         this.clearfile(); 
      },
      deleteattachment(attachment) {
         attachment.IsReadOnly = this.readonly;
         this.$emit("deleteattachment", attachment);
      },
      clearfile(){
         document.getElementById(this.fileid).value = "";
         this.name = null;
         this.file = null;
      },
   },
};
</script>
<style >
.file {
   opacity: 0;
   width: 0.1px;
   height: 0.1px;
   /* position: absolute; */
}
.ernav-button-filebase {
   min-height: 2em;
   @apply inline-block rounded-md px-1  bg-opacity-90 hover:bg-opacity-100 border border-gray-400  disabled:opacity-50;
}
.ernav-button-upload {
   min-height: 2em;
   @apply ernav-button-filebase;
}
.ernav-button-fileselect {
   @apply ernav-button-filebase;
}
.ernav-file-label {
   min-height: 2em;
   @apply border border-gray-500;
}
</style>