<template>
  <span>
    <svg
      v-if="showrequired"
      xmlns="http://www.w3.org/2000/svg"
      class="ernav-icon-size text-red-700"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>

    <svg
      v-if="showcomplete"
      xmlns="http://www.w3.org/2000/svg"
      class="ernav-icon-size text-green-700"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 13l4 4L19 7"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "SectionIcon",
  props: {
    item: {
      type: Object,
      required: true,
    },
    readonly: {
         type: Boolean,
    },
  },
  computed: {
    showrequired() {
      return (
        this.item.Required && (!this.item.Answer || this.item.Answer == "0")
      );
    },
    showcomplete() {
      return this.item.Required && this.item.Answer && this.item.Answer != "0";
    },
  },
};
</script>
