<template>
  <div v-if="textbox">
    {{ item.RequireTextBox.Prompt }}
    <!--<input type="text" class="ernav-control" :disabled="readonly">-->
     <textarea
          v-model="item.RequireTextBox.Answer"
          cols="30"
          rows="5"
          class="ernav-control"
          @change="$emit('change', item)"
          :disabled="readonly"
        ></textarea>
  </div>
</template>

<script>
export default {
  name: "SectionTextbox",
  props: {
    item: {
      type: Object,
      required: true,
    },
    readonly: {
         type: Boolean,
    },
  },
  computed: {
    textbox() {
      if (this.item.Answer == 1) return this.item.RequireTextBox.Yes;
      if (this.item.Answer == 2) return this.item.RequireTextBox.No;
      return false;
    },
  },
};
</script>
