<template>
   <div id="app" class="container mx-auto text-sm">
      <div v-for="item in questions" :key="item.ID">
         <question-drop-down
            :item="item"
            :readonly="readonly"
            v-if="showdropdown(item)"
            @change="reset"
            @autosave="autosave"            
         ></question-drop-down>
         <question-tickbox
            :item="item"
            :readonly="readonly"
            v-if="showtickbox(item)"
            @change="reset"
         ></question-tickbox>
         <question-yes-no
            :item="item"
            :readonly="readonly"
            v-if="showyesno(item)"
            @change="reset"
            @deleteattachment="deleteattachment"
            @upload="upload"
         ></question-yes-no>
         <question-freetext
            :item="item"
            :readonly="readonly"
            v-if="showfreetext(item)"
            @change="reset"
         ></question-freetext>
         <question-dropdown-check
            :item="item"
            :readonly="readonly"
            v-if="showdropdowncheckbox(item)"
            @change="reset"
            @autosave="autosave"
         ></question-dropdown-check>
        <question-date
            :item="item"
            :readonly="readonly"
            v-if="showdate(item)"
            @change="reset"
            @autosave="autosave">           
        </question-date>
        <question-upload
            :item="item"
            :readonly="readonly"
            v-if="showupload(item)"
            @change="reset"
            @autosave="autosave"
            @deleteattachment="deleteattachment"
            @upload="upload">   
        </question-upload>
      </div>
      <div></div>
      <button
         type="button"
         class="ernav-button-save"
         @click="save"
      >
         Save and Close
      </button>
      <button
         type="button"
         class="ernav-button-complete"
         @click="complete"
         :disabled="readonly"
      >
         Complete
      </button>
   </div>
</template>

<script>
import QuestionDropDown from "./components/QuestionDropDown.vue";
import QuestionDropdownCheck from "./components/QuestionDropdownCheck.vue";
import QuestionFreetext from "./components/QuestionFreetext.vue";
import QuestionTickbox from "./components/QuestionTickbox.vue";
import QuestionYesNo from "./components/QuestionYesNo.vue";
import QuestionDate from "./components/QuestionDate.vue";
import QuestionUpload from "./components/QuestionUpload.vue";
import hopscotch from "hopscotch";

//import dummydata from "./assets/data.js";

export default {
   name: "App",
   components: {
      QuestionDropDown,
      QuestionTickbox,
      QuestionYesNo,
      QuestionFreetext,
      QuestionDropdownCheck,
      QuestionDate,
      QuestionUpload,
   },
   props: {},

   computed: {},

   data: function () {
      return {
         data: null,
         questions: null,
         showlist: [],
         readonly: false,
      };
   },

   methods: {
      /****************
       *
       *  Show options for the various controls
       *
       *****************/

      showdropdown(item) {
         return this.show(item, ENUM.TYPE_DROPDOWN_3);
      },

      showtickbox(item) {
         return this.show(item, ENUM.TYPE_TICKBOX_5);
      },

      showyesno(item) {
         return this.show(item, ENUM.TYPE_YESNO_1);
      },

      showfreetext(item) {
         return this.show(item, ENUM.TYPE_FREETEXT_2);
      },

      showdropdowncheckbox(item) {
         return this.show(item, ENUM.TYPE_DROPDOWNCHECKBOX_4);
      },

      showdate(item) {
         return this.show(item, ENUM.TYPE_DATE_6);
      },

      showupload(item){
        return this.show(item, ENUM.TYPE_UPLOAD_7);
      },

      /****************
       *
       *  Show option for the specific routes.  Used as a base for all the control shows.
       *
       *****************/
      show(item, type) {

         if (item.Type !== type) return false;

         if (!item.Routes || item.Routes.some((i) => this.showroute(i))) {
            //  Item should be shown.  Add to tracking to get correct count.

            if (!this.showlist.find((i) => i == item.Order)) {
               this.showlist.push(item.Order);
               this.$set(item, "Sequence", this.showlist.length);
            }           

            return true;
         }

         return false;
      },

      closenote(){
         var tour = hopscotch.getCurrTour()

         if (tour) {
            hopscotch.endTour()
         }
      },

      showconditionnote(notetext, questionid){

        this.closenote();        

        var note = {
            id: "ChecklistItemNotes",
            steps: [
                  {
                     title: "Note",
                     content: notetext,
                     target: "Question_" + questionid,
                     placement: "top"
                  }
                  ]
               };

         note.i18n = {
            stepNums: ['?']
         }

         hopscotch.startTour(note);

      },

      showroute(route) {
         return route.Condition.every((i) => this.showcondition(i));
      },

      showcondition(condition) {
         const q = this.questions.find((i) => i.ID === condition.QuestionID);
         if (!q) return false;

         //  The answer component in the condition can have multiple OR segments.
         //    Example: 123, 124, 125
         //    Any of these must be treated as a valid response for the condition.
         const answers = condition.Answer.split(",").filter((i) => i);

         return answers.some((i) => i == q.Answer);
      },


      showconditionnotes(current_item){
        
        let note_text = null;
        let note_id = null;

        this.questions.forEach((item) => {
          
            // Exit clauses
            // 1 - We already have a note to show.
            // 2 - The item (loop) is lower than the changed item. 
            if(note_text || current_item.Order > item.Order)
              return;     

            if(item.Notes){    

              // NOT APPLY ALL
              // HIGHEST SATISFIED ROUTE GETS SHOWN (IF BIGGER THAN 0)
              const not_all_apply = item.Notes.filter((i) => i.AllApply === false);
              let highest_satisfied_note = 0;
              not_all_apply.forEach((i) => {

                i.Condition.forEach((j) => {                
                  
                  const q = this.questions.find((k) => k.ID === j.QuestionID);
                  if(!q) return;
                  const answers = j.Answer.split(",").filter((i) => i);
                  let current_satisfied_note = answers.filter((l) => l == q.Answer).length;
                 
                 if(current_satisfied_note > highest_satisfied_note){
                    highest_satisfied_note = current_satisfied_note;
                    note_text = i.Text;
                    note_id = item.ID;
                  } 

                });  


              });

                 
              // APPLY ALL
              // ALL ANSWERS NEEDS TO BE SATISFIED FOR THE ROUTE
              const all_apply = item.Notes.filter((i) => i.AllApply === true);
              all_apply.forEach((i) => {

                let all_apply_show = true;
                      
                i.Condition.forEach((j) => {                
                  const q = this.questions.find((k) => k.ID === j.QuestionID);
                  if(!q) return;
                  const answers = j.Answer.split(",").filter((i) => i);
                  if(!answers.some((l) => l == q.Answer)) all_apply_show = false;
                });

                if(all_apply_show){
                  note_text = i.Text;
                  note_id = item.ID;
                }
                 
              });

            }

        });

        if(note_text)
            this.$nextTick(() => this.showconditionnote(note_text, note_id));

      },

      //  Reset existing answers on route change.
      reset(item) {

        this.closenote();

         this.questions
            .filter((i) => i.Order > item.Order)
            .forEach((i) => {
               i.Answer = null;
               if(i.RequireTextBox && i.RequireTextBox.Answer)
                  i.RequireTextBox.Answer = null;               
            });

         this.showlist = this.showlist.filter((i) => i < item.Order);
         this.$nextTick(() => this.autosave());
         this.showconditionnotes(item);         

      },

      save() {
          if(this.readonly)
            this.$emit("closemodal");
          this.$emit("save", this.dataset());
      },

      autosave() {
         this.$emit("autosave", this.dataset());
      },

      completecondition() {
         this.$emit("completecondition", this.dataset());
      },

      deleteattachment(attachment){
          this.$emit("deleteattachment", attachment);
      },

      complete() {
        
        let errors = this.routeitems().filter((q) => {
          
          //(!q.Answer || q.Answer == "0") && q.Required
          
          if(!q.Required)
            return false;

          if(q.Type == 7){
            if(!q.RequireAttachment.Attachments || q.RequireAttachment.Attachments.length == 0)
              return true;
          }
          else if(!q.Answer || q.Answer == "0")
            return true;

          return false;

        });

        if (errors.length > 0) {
          this.validationmessage(errors);
          return;
        }

        this.$emit("complete", this.dataset());

      },

      upload(item, file) {
         this.$emit("upload", this.dataset(), item, file);
      },

      load(data) {
         this.data = data;
         this.questions = data.Questions.sort((a, b) => a.Order > b.Order);
         this.readonly = this.data.IsReadOnly;
      },

      //Returns an object that contains the original header data and the full set of answers
      dataset() {
         let d = this.data || {};
         d.Questions = this.answers();
         console.log("dataset", d);
         return d;
      },

      //  Return only items for the current route which has been answered.
      answers() {
         return this.routeitems().filter((q) => q.Answer);
      },

      //  Return the items shown for the current route.
      routeitems() {
         return this.questions.filter((q) => this.showlist.includes(q.Order));
      },

      //  Display a user validation message for the oustanding items.
      validationmessage(errors) {
         let msg = "";
         errors.forEach((i) => {            
            switch (i.Type) {
               case ENUM.TYPE_YESNO_1:
                  msg += `Please select an anwser for question ${i.Sequence} is a required Field!`;
                  break;
               case ENUM.TYPE_FREETEXT_2:
                  msg += `${i.Text.substring(
                     0,
                     50
                  )} question is a required Field!`;
                  break;
               case ENUM.TYPE_DROPDOWN_3:
                  msg += `Please select an anwser for question ${i.Sequence}`;
                  break;
               case ENUM.TYPE_DROPDOWNCHECKBOX_4:
                  msg += `Please select at least one anwser for question ${i.Sequence} is a required Field!`;
                  break;
               case ENUM.TYPE_TICKBOX_5:
                  msg += `The tick box for question ${i.Sequence} is a required Field!`;
                  break;
              case ENUM.TYPE_UPLOAD_7:
                  msg += `Please upload a document for question ${i.Sequence}`;
            }
            msg += "\r";
         });

         alert(msg);
      },

      //  Allow the programmatic control of the readonly function.  Property is not used for ease of integration from JQuery.
      busy(v) {
         this.readonly = v;
      },

      // Set a participant
      setparticipant(questionId, yesNo, userId, parttypeId, username) {
         let question = this.questions.find((i) => i.ID == questionId);
         if (!question) return;

         let participant = null;
         if (yesNo)
            participant = question.Participants.Yes.find(
               (i) => i.TypeID == parttypeId
            );
         else
            participant = question.Participants.Yes.find(
               (i) => i.TypeID == parttypeId
            );

         if (!participant) return;

         participant.Name = username;
         participant.ID = userId;
      },
   },

   created() {
     //this.load(dummydata);
   },
};

const ENUM = {
   TYPE_YESNO_1: 1,
   TYPE_FREETEXT_2: 2,
   TYPE_DROPDOWN_3: 3,
   TYPE_DROPDOWNCHECKBOX_4: 4,
   TYPE_TICKBOX_5: 5,
   TYPE_DATE_6: 6,
   TYPE_UPLOAD_7: 7,
};
</script>

<style src="./assets/tailwind.css"></style>

<style>

.ernav-icon-size {
   @apply h-5 w-5;
}

._grid{
   @apply grid;
}
</style>

<style>


                                .ernav-control{
                                    width: 100%;
                                    min-height: 34px;
                                    padding: 6px 12px;
                                    font-size: 13px;
                                    line-height: 1.42857143;
                                    color: #555;
                                    background-color: #fff;
                                    background-image: none;
                                    border: 1px solid #cccccc;
                                    border-radius: 4px;
                                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                                    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                    margin-top: 3px;
                                }

                                .ernav-button-fileselect{
                                    width: 80px !important;
                                    min-width: 80px !important;
                                    height: 34px !important;
                                    background-image: none !important;
                                    background-color: #00519B;
                                    color: white;
                                    text-align: center;
                                    line-height: 30px;
                                    margin: 0 !important;
                                     margin-top: 3px !important;
                                }

                                .w-full:focus, .w-full:hover{
                                    background-color: transparent !important;
                                }

                                .ernav-button-link, .ernav-button-participant, .ernav-button-dropdownaccept{
                                    margin-left: 10px;
                                    background-image: none;
                                    background-size: 100%;
                                    height: 34px;
                                    border: none;
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 13px;
                                    border-radius: 4px;
                                    padding: 6px 12px;
                                    font-size: 13px;
                                    line-height: 1.42857143;
                                    border: 1px solid #4C5667;
                                    border-radius: 4px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    outline: none;
                                    display: inline-block;


                                    background-color: #fff;
                                    color: #494949 !important;
                                    font-family: Rubik,sans-serif;
                                    height: 34px;
                                    margin-top: 3px;
                                    text-align:center;
                                }

                                .ernav-button-link:hover, .ernav-button-participant:hover, .ernav-button-dropdownaccept:hover{
                                    background: #e4e7ea;
                                    border: 1px solid #F4F5F8
                                }

                                .ernav-file-label{
                                    width: calc(100% - 3px);
                                    min-height: 34px;
                                    padding: 6px 12px;
                                    font-size: 13px;
                                    line-height: 1.42857143;
                                    color: #555;
                                    background-color: #fff;
                                    background-image: none;
                                    border: 1px solid #cccccc;
                                    border-radius: 4px;
                                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                                    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                    margin: 0 !important;
                                    margin-top: 3px !important;
                                }

                                .w-full, .text-right.w-auto{
                                    padding: 0px !important;
                                }

                                .w-full:hover, .w-full:before, .w-full:after{
                                    background-color: transparent !important;

                                }

                                .container.mx-auto.text-sm {
                                    margin: 0 !important;
                                    margin-left: 10px !important;
                                }

                                input[type="radio"], input[type="checkbox"] {
                                    box-shadow: none !important;
                                }

                                .ernav-button-upload {
                                    background-color: #fff;
                                    color: #494949;
                                    font-family: Rubik,sans-serif;
                                    margin-top: 3px;
                                    width: 100% !important;
                                    height: 34px !important
                                }

                                .ernav-button-complete {
                                    color: White;
                                    background-color: #7ACE4C;
                                    background-image: none;
                                    background-size: 100%;
                                    min-width: 170px;
                                    height: 34px;
                                    border: none;
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 13px;
                                    border: 1px solid #7ACE4C;
                                    border-radius: 4px;
                                    padding: 6px 12px;
                                    font-size: 13px;
                                    line-height: 1.42857143;
                                    border-radius: 4px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    outline: none;
                                    display: inline-block;
                                    margin-top:20px;
                                }

                                    .ernav-button-complete:disabled {
                                        color: White;
                                        background-color: #838587;
                                        background-image: none;
                                        background-size: 100%;
                                        min-width: 170px;
                                        height: 34px;
                                        border: none;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 13px;
                                        border: 1px solid #838587;
                                        border-radius: 4px;
                                        padding: 6px 12px;
                                        font-size: 13px;
                                        line-height: 1.42857143;
                                        border-radius: 4px;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        outline: none;
                                        display: inline-block;
                                    }

                                    .ernav-button-complete:hover {
                                        color: White;
                                        background-color: #67c335;
                                        background-image: none;
                                        background-size: 100%;
                                        min-width: 170px;
                                        height: 34px;
                                        border: none;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 13px;
                                        border: 1px solid #67c335;
                                        border-radius: 4px;
                                        padding: 6px 12px;
                                        font-size: 13px;
                                        line-height: 1.42857143;
                                        border-radius: 4px;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        outline: none;
                                        display: inline-block;
                                    }

                                    .ernav-button-complete:disabled:hover {
                                        color: White;
                                        background-color: #838587;
                                        background-image: none;
                                        background-size: 100%;
                                        min-width: 170px;
                                        height: 34px;
                                        border: none;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 13px;
                                        border: 1px solid #838587;
                                        border-radius: 4px;
                                        padding: 6px 12px;
                                        font-size: 13px;
                                        line-height: 1.42857143;
                                        border-radius: 4px;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        outline: none;
                                        display: inline-block;
                                    }

                                .ernav-button-save {
                                    color: White;
                                    background-color: #4C5667;
                                    background-image: none;
                                    background-size: 100%;
                                    min-width: 170px;
                                    height: 34px;
                                    border: none;
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 13px;
                                    border-radius: 4px;
                                    padding: 6px 12px;
                                    font-size: 13px;
                                    line-height: 1.42857143;
                                    border: 1px solid #4C5667;
                                    border-radius: 4px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    outline: none;
                                    display: inline-block;
                                    margin-right: 10px;
                                    margin-top:20px;
                                }

                                    .ernav-button-save:hover {
                                        color: White;
                                        background-color: #3e4653;
                                        background-image: none;
                                        background-size: 100%;
                                        min-width: 170px;
                                        height: 34px;
                                        border: none;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 13px;
                                        border: 1px solid #3e4653;
                                        border-radius: 4px;
                                        padding: 6px 12px;
                                        font-size: 13px;
                                        line-height: 1.42857143;
                                        border-radius: 4px;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        outline: none;
                                        display: inline-block;
                                    }

                                .font-medium.mb-2 {
                                    color: #515B66 !important;
                                }

                                #app.container{
                                   width: calc(100% - 40px);
                                   max-width: calc(100% - 40px);
                                   min-width:calc(100% - 40px);
                                }

                                .dropdown-content label{
                                    display: inline-block;
                                    width: calc(100% - 80px);
                                    height: 30px;
                                    padding-top: 6px;
                                }
                           

                                 .dropdown-content .m-1:hover{
                                    background-color:#e7f1ff;
                                }

                                 .dropdown-content{
                                     padding-left:0 !important;
                                     padding-right:0 !important;
                                 }

                                 .dropdown-content .m-1{
                                     margin-left: 0 !important;
                                     margin-right: 0 !important;

                                 }

                                 .dropdown-content .m-1 input[type="checkbox"]{
                                     margin-left: 10px !important;
                                     margin-right: 10px !important;

                                 }

                                 .ernav-dropdown-label{
                                    float: left;
                                 }

                                 .ernav-participant-row{
                                    line-height: 30px;
                                 }


                                 .ernav-datepicker{
                                    width: 300px;
                                 }

                                 .ernav-datepicker-input{
                                     width: 100%;
                                    min-height: 34px;
                                    padding: 6px 12px;
                                    font-size: 13px;
                                    line-height: 1.42857143;
                                    color: #555;
                                    background-color: #fff;
                                    background-image: none;
                                    border: 1px solid #cccccc;
                                    border-radius: 4px;
                                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                                    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                                    margin-top: 3px;
                                 }
                               

                                 .ernav-datepicker-input:focus-visible{
                                    outline: 1px solid #cccccc;
                                 }

                                 .ernav-datepicker-input:disabled{
                                   color: #b7b7b7;
                                   border-color: #d0cfcf;
                                 }

                                 .ernav-datepicker-calendar .cell.selected {
                                    background-color: #00519B !important;
                                    color: white;
                                 }

                                 .ernav-datepicker-calendar .cell:not(.selected):not(.day-header):hover {
                                    border-color: #00519B !important;
                                    outline-color: #00519B !important;
                                 }


                                 .vdp-datepicker__calendar-button{
                                    position: absolute;
                                    right: 0.9px;
                                    top: 4px;
                                    width: 30px;
                                    background-color: #00519B;
                                    height: 32.6px;
                                    border-top-right-radius: 3px;
                                    border-bottom-right-radius: 3px;
                                    color: white;
                                 }

                                 .vdp-datepicker__calendar-button i{
                                    padding-left: 9px;
                                    padding-top: 8px;
                                 }

                                 .ernav-button-fileselect:disabled{
                                   background-color: #90acc5 !important;
                                 }

                                 

                                 
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-up {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
div.hopscotch-bubble .hopscotch-nav-button {
  /* borrowed from katy styles */
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none !important;
  width: auto;
  padding: 0 10px;
  height: 26px;
  line-height: 24px;
  font-size: 12px;
  *zoom: 1;
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.hopscotch-bubble .hopscotch-nav-button:hover {
  *zoom: 1;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
div.hopscotch-bubble .hopscotch-nav-button:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
}
div.hopscotch-bubble .hopscotch-nav-button.next {
  border-color: #1b5480;
  color: #fff;
  margin: 0 0 0 10px;
  /* HS specific*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background-color: #287bbc;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#287bbc', endColorstr='#23639a');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
  background-image: -webkit-linear-gradient(to bottom, #287bbc 0%, #23639a 100%);
  background-image: -moz-linear-gradient(to bottom, #287bbc 0%, #23639a 100%);
  background-image: -o-linear-gradient(to bottom, #287bbc 0%, #23639a 100%);
  background-image: linear-gradient(to bottom, #287bbc 0%, #23639a 100%);
}
div.hopscotch-bubble .hopscotch-nav-button.next:hover {
  background-color: #2672ae;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#2672ae', endColorstr='#1e4f7e');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2672ae), color-stop(100%, #1e4f7e));
  background-image: -webkit-linear-gradient(to bottom, #2672ae 0%, #1e4f7e 100%);
  background-image: -moz-linear-gradient(to bottom, #2672ae 0%, #1e4f7e 100%);
  background-image: -o-linear-gradient(to bottom, #2672ae 0%, #1e4f7e 100%);
  background-image: linear-gradient(to bottom, #2672ae 0%, #1e4f7e 100%);
}
div.hopscotch-bubble .hopscotch-nav-button.prev {
  border-color: #a7a7a7;
  color: #444;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f2f2f2;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#e9e9e9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(to bottom, #f2f2f2 0%, #e9e9e9 100%);
  background-image: -moz-linear-gradient(to bottom, #f2f2f2 0%, #e9e9e9 100%);
  background-image: -o-linear-gradient(to bottom, #f2f2f2 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #e9e9e9 100%);
}
div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
  background-color: #e8e8e8;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE8E8E8', endColorstr='#FFA9A9A9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(13%, #e3e3e3), color-stop(32%, #d7d7d7), color-stop(71%, #b9b9b9), color-stop(100%, #a9a9a9));
  background-image: -webkit-linear-gradient(to bottom, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
  background-image: -moz-linear-gradient(to bottom, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
  background-image: -o-linear-gradient(to bottom, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
}
div.hopscotch-bubble {
  background-color: #ffffff;
  border: 5px solid #000000;
  /* default */
  border: 5px solid rgba(0, 0, 0, 0.5);
  /* transparent, if supported */
  color: #333;
  font-family: Helvetica, Arial;
  font-size: 13px;
  position: absolute;
  z-index: 999999;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-background-clip: padding;
  /* for Mozilla browsers*/
  -webkit-background-clip: padding;
  /* Webkit */
  background-clip: padding-box;
  /*  browsers with full support */
}
div.hopscotch-bubble * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
div.hopscotch-bubble.animate {
  -moz-transition-property: top, left;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: top, left;
  -ms-transition-duration: 1s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: top, left;
  -o-transition-duration: 1s;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-property: top, left;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
div.hopscotch-bubble.invisible {
  opacity: 0;
}
div.hopscotch-bubble.hide,
div.hopscotch-bubble .hide,
div.hopscotch-bubble .hide-all {
  display: none;
}
div.hopscotch-bubble h3 {
  color: #000;
  font-family: Helvetica, Arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin: -1px 15px 0 0;
  padding: 0;
}
div.hopscotch-bubble .hopscotch-bubble-container {
  padding: 15px;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  /* to fix text flickering */
}
div.hopscotch-bubble .hopscotch-content {
  font-family: Helvetica, Arial;
  font-weight: normal;
  line-height: 17px;
  margin: -5px 0 11px;
  padding-top: 8px;
}
div.hopscotch-bubble .hopscotch-bubble-content {
  margin: 0 0 0 40px;
}
div.hopscotch-bubble.no-number .hopscotch-bubble-content {
  margin: 0;
}
div.hopscotch-bubble .hopscotch-bubble-close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  color: #000;
  /*background: transparent url(../img/sprite-green.png) -192px -92px no-repeat;*/
  display: block;
  padding: 8px;
  position: absolute;
  text-decoration: none;
  text-indent: -9999px;
  width: 8px;
  height: 8px;
  top: 0;
  right: 0;
}
div.hopscotch-bubble .hopscotch-bubble-close.hide,
div.hopscotch-bubble .hopscotch-bubble-close.hide-all {
  display: none;
}
div.hopscotch-bubble .hopscotch-bubble-number {
  /*background: transparent url(../img/sprite-green.png) 0 0 no-repeat;*/
  color: #fff;
  display: block;
  float: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 31px;
  padding: 0 10px 0 0;
  text-align: center;
  width: 30px;
  height: 30px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container {
  position: absolute;
  width: 34px;
  height: 34px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow,
div.hopscotch-bubble .hopscotch-bubble-arrow-container .hopscotch-bubble-arrow-border {
  width: 0;
  height: 0;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up {
  top: -22px;
  left: 10px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
  border-bottom: 17px solid #ffffff;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: relative;
  top: -10px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
  border-bottom: 17px solid #000000;
  border-bottom: 17px solid rgba(0, 0, 0, 0.5);
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
  bottom: -39px;
  left: 10px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  border-top: 17px solid #ffffff;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: relative;
  top: -24px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
  border-top: 17px solid #000000;
  border-top: 17px solid rgba(0, 0, 0, 0.5);
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left {
  top: 10px;
  left: -22px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  border-bottom: 17px solid transparent;
  border-right: 17px solid #ffffff;
  border-top: 17px solid transparent;
  position: relative;
  left: 7px;
  top: -34px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
  border-right: 17px solid #000000;
  border-right: 17px solid rgba(0, 0, 0, 0.5);
  border-bottom: 17px solid transparent;
  border-top: 17px solid transparent;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right {
  top: 10px;
  right: -39px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
  border-bottom: 17px solid transparent;
  border-left: 17px solid #ffffff;
  border-top: 17px solid transparent;
  position: relative;
  left: -7px;
  top: -34px;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
  border-left: 17px solid #000000;
  border-left: 17px solid rgba(0, 0, 0, 0.5);
  border-bottom: 17px solid transparent;
  border-top: 17px solid transparent;
}
div.hopscotch-bubble .hopscotch-actions {
  margin: 10px 0 0;
  text-align: right;
}

                             /*   .ernav-border:focus, .ernav-control:focus {
                                    border: 1px solid #cccccc !important;
                                }*/
                            </style>
